@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Golos Text', serif;
}

a {
  text-decoration: none;
}

/* body {
  background-color: 'radial-gradient(90.76% 294.08% at 23.72% 51.06%,#f3f4fb 0,#f3f4fb 100%)';
} */
